#box {
  width: 100px;
  margin: 100px;
  pointer-events:none;
}

.box {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  position: relative;
}

.box div {
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  line-height: 100px;
  font-weight: bold;
  font-size: 40px;
  width: 100px;
  height: 100px;
  color: #111;
  /*border: 1px solid #777;
  transform-origin: 50% 50% -50px;*/
}

.box .side1 {
  background: hsla(0, 100%, 50%, 0.7);
}

.box .side2 {
  background: hsla(60, 100%, 50%, 0.7);
}

.box .side3 {
  /*background: hsla(120, 100%, 50%, 0.7);*/
}

.box .side3 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: hsla(120, 100%, 50%, 0.7);
}

.box .side4 {
  /*background: hsla(180, 100%, 50%, 0.7);*/
}

.box .side4 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: hsla(180, 100%, 50%, 0.7);
}

.box .side5 {
  background: hsla(240, 100%, 50%, 0.7);
}

.box .side6 {
  background: hsla(300, 100%, 50%, 0.7);
}
