.place img {
	width: 200px;
	margin: 25px 0 0 45px;
}
.place a:nth-child(2) img {
	margin: 11px 43px;
}
.partneri { 
    margin: 65px 0px 0 71px;
}
.content__item-inner h2{
	color: #46dc96;
	font-size: 3.0rem;
	padding-bottom: 15px;
}
#section2 {

}
footer {
	color: #ccc;
	border-top: 1px solid #EDEDED; 
	text-align: center;
	padding: 25px 0;

}