@charset "UTF-8";

// @import '_sprite';
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/sass-easing/_easings';
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

@import 'fonts/_fonts';

@import 'modules/_component';
@import 'modules/_default-schedule';
@import 'modules/_schedule';
@import 'modules/_reset';
@import 'modules/_general';
@import 'modules/_navigation';
