<svg version="1.1" id="hackathon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="230px" height="230px" viewBox="-50 -50 300 300" enable-background="new 50 0 300 300" xml:space="preserve">
	<g id="logo_wrapper">
		<g id="upper_things">
			<polyline fill="none" stroke="#46DC96" stroke-width="3" stroke-miterlimit="10" points="10.2,149 9.8,116.7 45.6,95.9 81.5,116.5
				81.7,157.9 45.9,178.7 17.5,163.9 "/>
			<polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="45.6,95.9 28.8,105.7 10,95 9.8,53.6
				45.6,32.7 81.5,53.3 81.7,94.7 62.8,105.7 "/>
			<polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="101.8,84 81.5,72.5 81.6,53.3 65.5,42.6
				65.5,22 101.4,1.2 137.4,21.7 137.5,63.2 "/>
			<polygon fill="none" stroke="#FF9900" stroke-width="3" stroke-miterlimit="10" points="157.3,95.9 140.5,105.7 121.7,95
				121.6,72.4 137.5,63.2 137.4,42.6 157.3,32.7 193.3,53.3 193.4,94.7 174.5,105.7 "/>
			<polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="157.7,178.7 137.6,171.3 137.4,150.5
				121.5,140.1 121.5,116.7 157.3,95.9 193.2,116.5 193.4,157.9 "/>
			<polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="101.8,212.7 65.9,192.1 65.7,167.2
				81.7,157.9 81.4,141.6 101.5,129.9 137.4,150.5 137.6,191.9 "/>
		</g>
		<path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M128.6,162"/>
		<path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M121.6,141.6"/>
		<path fill="#46DC96" d="M48.9,9.5c0,3-10.5,7-10.5,0S48.9,2.5,48.9,9.5C48.9,12.5,48.9,2.5,48.9,9.5z"/>
		<path fill="none" stroke="#000000" stroke-miterlimit="10" d="M22.5,6.1c-1.2,2.3-2.3,2.3-3.5,0C20.2,3.8,21.4,3.8,22.5,6.1z"/>
		<path fill="none" stroke="#000000" stroke-miterlimit="10" d="M25,25.5c-1.2,2.3-2.3,2.3-3.5,0C22.6,23.2,23.8,23.2,25,25.5z"/>
		<path fill="none" stroke="#46DC96" stroke-width="2" stroke-miterlimit="10" d="M19.5,158.5c0,12-18.5,12-18.5,0
			S19.5,146.5,19.5,158.5z"/>
		<path fill="#FFFFFF" stroke="#FF9900" stroke-width="2" stroke-miterlimit="10" d="M201.6,53.5c0,12-18.5,12-18.5,0
			S201.6,41.5,201.6,53.5z"/>
		<line fill="none" stroke="#FF9900" stroke-miterlimit="10" x1="155.5" y1="195.6" x2="165.9" y2="205.5"/>
		<line fill="none" stroke="#FF9900" stroke-miterlimit="10" x1="155.5" y1="205.5" x2="165.9" y2="195.6"/>
		<g>
			<g>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="45.8" y1="74.4" x2="46.2" y2="74.7"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0709,1.0709,1.0709,1.0709" x1="47.1" y1="75.2" x2="50.4" y2="77"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0709,1.0709,1.0709,1.0709,1.0709,1.0709" x1="50.9" y1="77.3" x2="78.4" y2="92.8"/>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="78.8" y1="93.1" x2="79.3" y2="93.4"/>
			</g>
		</g>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="45.8" y1="74.4" x2="45.6" y2="37.3"/>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="12.8" y1="93.4" x2="45.8" y2="74.4"/>
		<g>
			<g>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="101.6" y1="42.8" x2="102.1" y2="43.1"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0418,1.0418,1.0418,1.0418" x1="103" y1="43.6" x2="106.2" y2="45.4"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0418,1.0418,1.0418,1.0418,1.0418,1.0418" x1="106.6" y1="45.6" x2="133.4" y2="60.8"/>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="133.8" y1="61" x2="134.2" y2="61.3"/>
			</g>
		</g>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="101.6" y1="42.8" x2="101.6" y2="4.3"/>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="84" y1="53" x2="101.6" y2="42.8"/>
		<g>
			<g>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="157.5" y1="74.4" x2="157.9" y2="74.7"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0709,1.0709,1.0709,1.0709" x1="158.9" y1="75.2" x2="162.1" y2="77"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0709,1.0709,1.0709,1.0709,1.0709,1.0709" x1="162.6" y1="77.3" x2="190.1" y2="92.8"/>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="190.6" y1="93.1" x2="191" y2="93.4"/>
			</g>
		</g>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="157.5" y1="74.4" x2="157.3" y2="37.3"/>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="124.5" y1="93.4" x2="157.5" y2="74.4"/>
		<g>
			<g>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="101.6" y1="171.6" x2="102.1" y2="171.8"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0709,1.0709,1.0709,1.0709" x1="103" y1="172.3" x2="106.3" y2="174.2"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0709,1.0709,1.0709,1.0709,1.0709,1.0709" x1="106.7" y1="174.4" x2="134.2" y2="190"/>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="134.7" y1="190.3" x2="135.1" y2="190.5"/>
			</g>
		</g>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="101.6" y1="171.6" x2="101.5" y2="134.4"/>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="68.7" y1="190.5" x2="101.6" y2="171.6"/>
		<g>
			<g>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="45.8" y1="137.6" x2="46.2" y2="137.8"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0709,1.0709,1.0709,1.0709" x1="47.1" y1="138.3" x2="50.4" y2="140.2"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0709,1.0709,1.0709,1.0709,1.0709,1.0709" x1="50.9" y1="140.4" x2="78.4" y2="156"/>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="78.8" y1="156.3" x2="79.3" y2="156.5"/>
			</g>
		</g>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="45.8" y1="137.6" x2="45.6" y2="100.4"/>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="20.1" y1="154.1" x2="53.1" y2="135.1"/>
		<g>
			<g>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="157.5" y1="137.6" x2="157.9" y2="137.8"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0418,1.0418,1.0418,1.0418" x1="158.8" y1="138.3" x2="162" y2="140.1"/>

					<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1.0418,1.0418,1.0418,1.0418,1.0418,1.0418" x1="162.5" y1="140.4" x2="189.2" y2="155.5"/>
				<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" x1="189.7" y1="155.8" x2="190.1" y2="156"/>
			</g>
		</g>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="157.5" y1="137.6" x2="157.4" y2="99.1"/>
		<line fill="none" stroke="#CCCCCC" stroke-miterlimit="10" stroke-dasharray="1,1,1" x1="139.8" y1="147.7" x2="157.5" y2="137.6"/>
		<line fill="none" stroke="#46DC96" stroke-width="2" stroke-miterlimit="10" x1="26.9" y1="106.8" x2="45.6" y2="95.9"/>
		<line fill="none" stroke="#46DC96" stroke-width="2" stroke-miterlimit="10" x1="45.6" y1="95.9" x2="64.6" y2="106.8"/>
		<line fill="none" stroke="#46DC96" stroke-width="2" stroke-miterlimit="10" x1="60.8" y1="170.1" x2="81.7" y2="157.9"/>
		<line fill="none" stroke="#46DC96" stroke-width="2" stroke-miterlimit="10" x1="81.7" y1="157.9" x2="81.4" y2="137.6"/>
	</g>
</svg>