<section id="section2" class="cd-section">
	<div class="schedule">
		<div class="main">
			<ul class="cbp_tmtimeline">
				<li>
					<time class="cbp_tmtime"><span>10:00</span></time>
					<div class="cbp_tmicon cbp_tmicon-start"></div>
					<div class="cbp_tmlabel">
						<h2>Úvod</h2>
						<p>Winter </p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>10:04-10:30</span></time>
					<div class="cbp_tmicon cbp_tmicon-puzzle"></div>
					<div class="cbp_tmlabel">
						<h2>Brainstorming</h2>
						<p>Ideas, kto čo plánuje robiť v krátkosti, možnosť pridať sa k niekomu do tímu alebo začať solo</p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>10:30</span></time>
					<div class="cbp_tmicon cbp_tmicon-rocket"></div>
					<div class="cbp_tmlabel">
						<h2>Štartujeme prácu</h2>
						<p>Začiatok práce na svojich projektoch </p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>17:30</span></time>
					<div class="cbp_tmicon cbp_tmicon-flag"></div>
					<div class="cbp_tmlabel">
						<h2>Končíme prácu</h2>
						<p>Ukončenie práce na projektoch</p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>17:30-18:00</span></time>
					<div class="cbp_tmicon cbp_tmicon-share"></div>
					<div class="cbp_tmlabel">
						<h2>Showtime</h2>
						<p>V krátkosti predstavenie svojich výtvorov</p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>18:00-??</span></time>
					<div class="cbp_tmicon cbp_tmicon-beer"></div>
					<div class="cbp_tmlabel">
						<h2>Afterka</h2>
						<p>Otvorená diskusia, brainstormy pri vínku a pod.</p>
					</div>
				</li>
			</ul>
			<div class="place">
				<!-- <h3> Partneri </h3> -->
				<div class="partneri">
					<a href="http://www.eastcubator.sk/" ><img src="images/eastcubator.svg"></a>
					<a href="https://www.vizualizacky.sk/"><img src="images/logo_vizualizacky.png"></a>
				</div>
			</div>
			
		</div>
		<div class="description">
			<h2>Hackathon ?</h2>
			<p>
				Hackathon je akcia, počas ktorej softvéroví vývojári, grafici, dizajnéri a ďalšie osoby pôsobiace okolo vývoja softvéru pracujú buď sólo alebo v tímoch na projektoch zameraných na pretavenie svojho nápadu na funkčný softvérový alebo hardvérový prototyp.
			</p>
			<p>
				Príď si “máknuť” na vlastnom malom projekte alebo nedokončenom tasku, ktorý už dlho odsúvaš. K dispozícii budeš mať občerstvenie, jedlo, technické pomôcky ako napríklad <strong>Google Cardboard</strong>, <strong>RaspberryPi</strong>, <strong>Arduino</strong>, <strong>Lego Mindstorms</strong>, flipchart a rýchly internet, stačí keď si donesieš svoj notebook, nabíjačku, chuť niečo vytvoriť a dobrú náladu.
			</p>
			<p>
				Tento hackathon nemá oficiálnu tému, je len na tebe, na čom budeš pracovať - web, webová/mobilná appka, naprogramovať Lego Mindstorms robota, využiť senzor v RaspberryPi a pod.
			</p>
			<section class="slider">
				<!-- @include box-animation.html -->
				<nav class="slider__nav">
					<button class="button button--zoom button-green hvr-grow">Registrovať sa</button>
				</nav>
			</section>
			<div class="content-wrapper">
		<div class="container">
		<!-- Blueprint header -->
		<!-- Grid -->
		<section class="slider">

		</section>
		<!-- /slider-->
		<section class="content">
			<div class="content__item eventbrite-widget-wrapper" id="content-1">
				<div class="content__item-inner eventbrite-widget-inner">
					<h2 class="eventbrite-register-title">Registrácia</h2>
					<div style="width:100%; text-align:left;">
						<iframe  src="https://eventbrite.com/tickets-external?eid=25947577904&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true">
						</iframe>
						<header>
							<h1>Custom Google Map</h1>
						</header>

						<section id="cd-google-map">
							<div id="google-container"></div>
							<div id="cd-zoom-in"></div>
							<div id="cd-zoom-out"></div>
							<address>Hviezdoslavova 7, Košice</address> 
						</section>
							
						<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
						<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlJs69Zu5sx4cNR9SZheRxk9nUlYJTHrM"></script>
					</div>
				</div>
			</div>
			<button class="button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close content</span></button>
		</section>
		</div>
	</div>
		</div>

	</div>
</section>
