<section id="section3" class="cd-section">
	<div class="content-wrapper">
		<div class="container">
		<!-- Blueprint header -->
		<!-- Grid -->
		<section class="slider">

		</section>
		<!-- /slider-->
		<section class="content">
			<div class="content__item eventbrite-widget-wrapper" id="content-1">
				<div class="content__item-inner eventbrite-widget-inner">
					<h2 class="eventbrite-register-title">Registrácia</h2>
					<div style="width:100%; text-align:left;">
						<iframe  src="//eventbrite.com/tickets-external?eid=25947577904&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true">
						</iframe>
					</div>
				</div>
			</div>
			<button class="button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close content</span></button>
		</section>
	</div>
	</div>
</section>
