<section id="section2" class="cd-section">
	<div class="schedule">
		<div class="main">
			<ul class="cbp_tmtimeline">
				<li>
					<time class="cbp_tmtime"><span>10:00</span></time>
					<div class="cbp_tmicon cbp_tmicon-phone"></div>
					<div class="cbp_tmlabel">
						<h2>Úvod</h2>
						<p>Winter </p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>10:04-10:30</span></time>
					<div class="cbp_tmicon cbp_tmicon-screen"></div>
					<div class="cbp_tmlabel">
						<h2>Brainstorming</h2>
						<p>Ideas, kto čo plánuje robiť v krátkosti, možnosť pridať sa k niekomu do tímu alebo začať solo</p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>10:30</span></time>
					<div class="cbp_tmicon cbp_tmicon-mail"></div>
					<div class="cbp_tmlabel">
						<h2>Štartujeme prácu</h2>
						<p>Začiatok práce na svojich projektoch </p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>17:30</span></time>
					<div class="cbp_tmicon cbp_tmicon-phone"></div>
					<div class="cbp_tmlabel">
						<h2>Končíme prácu</h2>
						<p>Ukončenie práce na projektoch</p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>17:30-18:00</span></time>
					<div class="cbp_tmicon cbp_tmicon-earth"></div>
					<div class="cbp_tmlabel">
						<h2>Showtime</h2>
						<p>V krátkosti predstavenie svojich výtvorov</p>
					</div>
				</li>
				<li>
					<time class="cbp_tmtime"> <span>18:00-??</span></time>
					<div class="cbp_tmicon cbp_tmicon-screen"></div>
					<div class="cbp_tmlabel">
						<h2>Afterka</h2>
						<p>Otvorená diskusia, brainstormy pri vínku a pod.</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="description">
			<h2>Hackathon ?</h2>
			<p>
				Hackathon je akcia, počas ktorej softvéroví vývojári, grafici, dizajnéri a ďalšie osoby pôsobiace okolo vývoja softvéru pracujú buď sólo alebo v tímoch na projektoch zameraných na pretavenie svojho nápadu na funkčný softvérový alebo hardvérový prototyp.
			</p>
			<p>
				Príď si “máknuť” na vlastnom malom projekte alebo nedokončenom tasku, ktorý už dlho odsúvaš. K dispozícii budeš mať občerstvenie, jedlo, technické pomôcky ako napríklad <strong>Google Cardboard</strong>, <strong>RaspberryPi</strong>, <strong>Arduino</strong>, <strong>Lego Mindstorms</strong>, flipchart a rýchly internet, stačí keď si donesieš svoj notebook, nabíjačku, chuť niečo vytvoriť a dobrú náladu.
			</p>
			<p>
				Tento hackathon nemá oficiálnu tému, je len na tebe, na čom budeš pracovať - web, webová/mobilná appka, naprogramovať Lego Mindstorms robota, využiť senzor v RaspberryPi a pod.
			</p>
			<section class="slider">
			<div class="slide slide--current" data-content="content-1">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="images/iphone.png" alt="iPhone" />
						<div class="preview">
							<!-- <img src="images/iphone-content-preview.png" alt="iPhone app preview" /> -->
							<div class="zoomer__area zoomer__area--size-2"></div>
						</div>
					</div>
				</div>
			</div>
			<nav class="slider__nav">
				<button class="button button--zoom button-green hvr-grow">Registrovať sa</button>
			</nav>
		</section>
		</div>

	</div>
</section>
